*.fish
venv
*.pyc
*.pyc
*.pyc
blog_monoli/__pycache__
static/assets/banner/.DS_Store
static/assets/.DS_Store
static/assets/.DS_Store
*.pyc
blog_monoli/__pycache__/settings.cpython-311.pyc
# *.png
# *.webp
# *.jpg
# *.jpeg
*.avif
*.pyc
media/profile/2024/03/13/favicon2.ico
*.pyc
.DS_Store
*.pyc
.DS_Store
