*.fish
venv
*.pyc
*.pyc
*.pyc
blog_monoli/__pycache__
*.png
*.webp
static/assets/banner/.DS_Store
*.jpg
static/assets/.DS_Store
static/assets/.DS_Store
*.pyc
blog_monoli/__pycache__/settings.cpython-311.pyc
*.jpeg
