<header>
    <h1>
        <a href="{% url "main" %}">Blog</a>
    </h1>
    <ul>
        {% if request.user.is_authenticated %}
        <li class="hello">
            <a href="{% url "profile" user.username %}">{{user.username}}님 안녕하세요!</a>
        </li>
        <li>
            <a href="{% url "post_list" %}">검색</a>
        </li>
        <li>
            <a href="{% url "post_create" %}">글쓰기</a>
        </li>
        <li>
            <a href="{% url "mypage" %}">마이페이지</a>
        </li>
        <li>
            <form action="{% url "logout" %}" method="POST">
                {% csrf_token %}
                <button class="default-btn">로그아웃</button>
            </form>
        </li>
        {% else %}
        <li>
            <a href="{% url "post_list" %}">리스트</a>
        </li>
        <li>
            <a href="{% url "signup" %}">회원가입</a>
        </li>
        <li>
            <a class="default-btn" href="{% url "login" %}">로그인</a>
        </li>
        {% endif %}
    </ul>
</header>