{% extends "base/base.html" %}
{% block content %}
<main>
    <section>
        <h2>인기 프로모션</h2>
        <div>
            promotion 태그 만들어서 캐러셀 반복문~
        </div>
    </section>
    <section class="center-content">
        <h2>최신글</h2>
        <ul>
            {% for post in latest_list %}
            <li>
                <a href="{% url "post_detail" post.pk %}">
                    {{post.title}} / {{post.author}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="center-content">
        <h2>인기글</h2>
        <ul>
            {% for post in popular_list %}
            <li>
                <a href="{% url "post_detail" post.pk %}">
                    {{post.title}} / {{post.author}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}