{% extends "base/base.html" %}
{% load blog_tags %}
{% block content %}
<main>
    <section>
        <h2>인기 프로모션</h2>
        <ul class="post-list">
            {% for promotion in promotion_list %}
            <li>
                {% trans_promo_query promotion as promo_query %}
                <a href="{% url 'post_list' %}{{promo_query}}">
                    {{promo_query}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="center-content">
        <h2>최신글</h2>
        <ul class="post-list">
            {% for post in latest_list %}
            <li>
                <a href="{% url "post_detail" post.pk %}">
                    {{post.title}} / {{post.author}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="center-content">
        <h2>인기글</h2>
        <ul class="post-list">
            {% for post in popular_list %}
            <li>
                <a href="{% url "post_detail" post.pk %}">
                    {{post.title}} / {{post.author}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}