{% extends "base/base.html" %}
{% load static %}
{% load blog_tags %}
{% block content %}
<main class="post-list-wrapper">
    <section class="search-area">
        <h2 class="ir-hidden">포스트 검색</h2>
        <form class="center-content">
            <p>
                <input name="q" placeholder="검색어를 입력하세요" value="{{ request.GET.q }}"/>
                <button class="default-btn">검색</button>
            </p>
            <ul class="tag-list">
                {% for tag in tags %}
                <li>
                    <label for="{{tag.name}}">{{tag.name}}</label>
                    <input
                        name="tag"
                        id="{{tag.name}}"
                        type="checkbox"
                        value="{{tag.name}}"
                        {% parse_tag_list request as tag_list %}
                        {% if tag.name in tag_list %}checked{% endif %}
                    >
                </li>
                {% endfor %}
            </ul>
        </form>
    </section>
    <section class="result-area center-content">
        {% if request.GET %}
        <h2 class="section-title">검색 결과</h2>
        {% else %}
        <h2 class="section-title">이런 글은 어떠세요?</h2>
        {% endif %}
        <ul class="post-list">
            {% for post in post_list %}
            <li class="box4">
                <a href="{% url "post_detail" post.pk %}">
                    {% if post.thumbnail_image %}
                    <img src="{{post.thumbnail_image.url}}" alt="">
                    {% endif %}
                    <div class="content-box">
                        <div class="title-area">
                            <b class="title">{{post.title}}</b>
                            <ul>
                                <li>
                                    <img src="{% static "assets/icon_view.svg" %}" alt="view">
                                    {{post.view_count}}
                                </li>
                                <li>
                                    <img src="{% static "assets/icon_comment.svg" %}" alt="comment">
                                    {{post.comments.count}}
                                </li>
                                <li>
                                    <img src="{% static "assets/icon_liked.svg" %}" alt="liked">
                                    {{post.likes.count}}
                                </li>
                            </ul>
                        </div>
                        <ul class="tag-list">
                            {% for tag in post.tags.all %}
                            <li>{{tag.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="info-box">
                        <p>by. {{post.author}}</p>
                        <p>{{post.created_at|date:"Y-m-d"}}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
            {% if not post_list %}
            <li class="empty">
                조건에 맞는 포스트가 없습니다.
            </li>
            {% endif %}
        </ul>
    </section>
</main>
<script>
    const form = document.querySelector(".search-area form");
    const tag_btn_list = document.querySelectorAll(".search-area .tag-list input");

    tag_btn_list.forEach(tag_btn => {
        tag_btn.addEventListener('change', ()=>{
            form.submit();
        });
    });
</script>
{% endblock %}