{% extends "base/base.html" %}
{% block content %}
<main>
    <section>
        <h2>{{post.title}}</h2>
        <p>{{post.author}} / {{post.created_at}}</p>
    </section>
    <section class="center-content">
        <h3 class="ir-hidden">포스트 영역</h3>
        <article>
            <h3 class="ir-hidden">내용</h3>
            <div>{{post.contents}}</div>
            <div>
                {% if prev_post %}
                <a href="{% url "post_detail" prev_post.pk %}">
                    이전글
                    {{prev_post.title}}
                </a>
                {% endif %}
                {% if next_post %}
                <a href="{% url "post_detail" next_post.pk %}">
                    다음글
                    {{next_post.title}}
                </a>
                {% endif %}
            </div>
        </article>
        <article>
            <h3>덧글</h3>
            <ul>
                {% for comment in post.comments.all %}
                <li>
                    {{comment.author}}
                    {{comment.contents}}
                </li>
                {% endfor %}
            </ul>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button>submit</button>
            </form>
        </article>
    </section>
    <aside>
        <button>좋아요</button>
        <button>공유</button>
    </aside>
</main>
{% endblock %}