{% extends "base/base.html" %}
{% block content %}
<main class="post-form-wrapper center-content">
    <h2 class="ir-hidden">글 작성/수정</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <p class="btn-area">
            <button class="default-btn">글 작성 완료</button>
        </p>
    </form>
</main>
<script>
    const recommend_raw = "{{request.POST.recommend}}";
    if(recommend_raw){
        const contents_area = document.querySelector("#id_contents");
        const recommend = `
            <h4>[블로그씨 질문]</h4>
            <p>${recommend_raw}</p>
            <hr/>
            <br/>
        `;

        contents_area.value = recommend;
    }
</script>
{% endblock %}