:root{
	--color-point:#33b495;
	--color-point-2:#93e9d3;
	--color-black:#000000;
	--color-dark:#111111;
	--color-white:#ffffff;
	--color-light:#fafafa;
	--color-dark-grey:#8a8a8a;
	--color-mid-grey:#cccccc;
	--color-light-grey:#e3e3e3;
	--font-size-huge : 5rem;
	--font-size-bigger : 2.4rem;
	--font-size-big : 1.8rem;
	--font-size-default : 1.6rem;
	--font-size-small : 1.4rem;
	--font-size-smaller : 1.2rem;
	--container-max-width : 1024px;
}

*{
	box-sizing: border-box;
}

.center-content{
	width: 90%;
	max-width: var(--container-max-width);
	margin:0 auto;
}

.ir-hidden{
	position: absolute;
	left: -9999px;
	clip-path: circle(0,0);
	width: 1px;
	height: 1px;
	overflow: hidden;
}

html{
    height:100%;
	font-size: 10px;
}

body{
	height:100%;
	font-size: var(--font-size-default);
	color: var(--color-dark);
	background-color: var(--color-light);
}

.liked{
	border:1px solid red;
}


/* 헤더 */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:2rem 5%;
}

header h1{
	color: var(--color-point);
	font-weight: 800;
	font-size: var(--font-size-huge);
}

header ul{
	display: flex;
	align-items: center;
	gap:2rem;
	font-size: var(--font-size-big);
}

header .hello{
	padding-right: 1rem;
	color:var(--color-point);
}

header ul li a:hover{
	text-decoration: underline;
	color: initial !important;
}

/* 메인 */
main{
	min-height: 100vh;
}

.promo-banner a{
	display: block;
	position: relative;
}

.promo-banner img{
	aspect-ratio: 10/3;
	object-fit: cover;
	opacity: .7;
}

.promo-banner .text{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom: 0;
	display: flex;
	align-items: center;
}

.promo-banner .text pre{
	font-size: var(--font-size-huge);
	font-weight: 600;
	line-height: 1.5;
	overflow: visible;
}

.section-wrapper{
	padding-top: 9rem;
}

.section-title{
	font-size: var(--font-size-bigger);
	font-weight: 600;
	padding-bottom: 2rem;
}

.post-list{
	display: flex;
	flex-wrap: wrap;
	gap:1rem;
}

.post-list>li{
	border:1px solid var(--color-mid-grey);
	border-radius: .5rem;
	transition: all .2s ease-in-out;
	overflow: hidden;
}

.post-list>li:hover{
	box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}

.post-list>li.box3{
	width: calc((100% - 2rem) / 3);
}

.post-list>li.box4{
	width: calc((100% - 3rem) / 4);
}

.post-list>li a{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.post-list>li img{
	width:100%;
	aspect-ratio: 16/9;
	object-fit: cover;
}

.post-list>li .content-box{
	padding:1.5rem 1rem;
	padding-bottom: 0;
	flex-grow: 1;
}

.post-list>li .content-box .title{
	font-size: var(--font-size-big);
	padding-bottom: 1rem;
}

.post-list>li .info-box{
	padding:1.5rem 1rem;
	color: var(--color-dark-grey);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post-list .empty{
	width: 100%;
	padding:4rem;
	font-size: var(--font-size-big);
	text-align: center;
	border:1px solid var(--color-mid-grey);
	border-radius: .5rem;
}

.post-list .empty:hover{
	box-shadow: none;
}

.tag-list{
	display: flex;
	gap:1rem;
	border-radius: 1rem;
}

.tag-list li{
	padding:.5rem;
	background-color: var(--color-light-grey);
	border-radius: .5rem;
}

.comment-list{
	display: flex;
	flex-direction: column;
	gap:1rem;
}

.comment-list>li{
	border:1px solid var(--color-mid-grey);
	border-radius: .5rem;
	transition: all .2s ease-in-out;
	overflow: hidden;
}

.comment-list>li:hover{
	box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}

.comment-list>li a{
	padding:1.5rem;
	display: flex;
	flex-direction: column;
	gap:1rem;
}

.comment-list>li .author{
	display: flex;
	justify-content: space-between;
	font-weight: 600;
}

.comment-list>li .author .date{
	flex-grow: 1;
	text-align: right;
	font-size: var(--font-size-small);
}

.comment-list>li .comment{
	padding:1rem 0;
}

.comment-list>li .post{
	padding-top: 1.5rem;
	border-top: 1px solid var(--color-mid-grey);
	color:var(--color-dark-grey);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment-list .empty{
	padding:4rem;
	text-align: center;
	font-size: var(--font-size-big);
}

.comment-list .empty:hover{
	box-shadow: none;
}

.default-btn{
	padding:1rem;
	font-weight: 600;
	color: var(--color-point);
	border-radius: .5rem;
	border:1px solid var(--color-point);
	transition: all .2s ease-in-out;
}

.default-btn:hover{
	color:var(--color-light) !important;
	background-color: var(--color-point);
	text-decoration: none;
}

.default-btn.reverse{
	background-color: var(--color-point);
	color:var(--color-light) !important;
	border-radius: .5rem;
	transition: all .2s ease-in-out;
}

.default-btn.reverse:hover{
	background:none;
	color:var(--color-point) !important;
}

footer{
	margin-top: 15rem;
	padding:8rem 0 5rem;
	text-align: center;
	background-color: var(--color-light-grey);
}

/* post-detail-wrapper */
.post-detail-wrapper .title-area{
	padding:20rem 0 5rem;
	background-color: var(--color-point);
	position: relative;
}

.post-detail-wrapper .title-area .thumbnail-image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top:0;
	opacity: .7;
}

.post-detail-wrapper .title-area h2{
	font-size: var(--font-size-huge);
	position: relative;
	z-index: 1;
}

.post-detail-wrapper .title-area .info-area{
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}

.post-detail-wrapper .title-area .info-area p,
.post-detail-wrapper .title-area .info-area p a{
	display: flex;
	align-items: center;
	gap:1rem;
}

.post-detail-wrapper .title-area .info-area p .profile-image{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	object-fit: cover;
}

.post-detail-wrapper .title-area .btn-area{
	display: flex;
	gap:2rem;
}

.post-detail-wrapper .title-area .info-area a:hover,
.post-detail-wrapper .title-area .info-area button:hover{
	text-decoration: underline;
}

.post-detail-wrapper .post-area{
	padding-bottom:5rem;
	position: relative;
}

.post-detail-wrapper .post-area .post-contents{
	padding-bottom: 3rem;
}

.post-detail-wrapper .post-area .tag-area{
	display: flex;
	align-items: center;
	gap:2rem;
}

.post-detail-wrapper .post-area .tag-area p{
	font-weight: 600;
	font-size: var(--font-size-big);
}

.post-detail-wrapper .post-area .nav-area{
	padding-top: 3rem;
	width: 100%;
	display: flex;
	gap:1rem;
}

.post-detail-wrapper .post-area .nav-area a{
	display: block;
	width: calc((100% - 1rem) / 3);
	padding:1.5rem;
	border: 1px solid var(--color-mid-grey);
	border-radius: .5rem;
	flex-grow: 1;
}

.post-detail-wrapper .post-area .nav-area a:hover{
	border-color: var(--color-point);
	color: var(--color-point) !important;
	transition: all .2s ease-in-out;
}

.post-detail-wrapper .post-area .nav-area .next p:first-child{
	text-align: right;
}

.post-detail-wrapper .post-area .nav-area p:last-child{
	padding-top: 2rem;
	font-weight: 600;
	font-size: var(--font-size-big);
}

.post-detail-wrapper .comment-area{
	padding-top: 5rem;
}

.post-detail-wrapper .comment-area ul{
	display: flex;
	flex-direction: column;
}

.post-detail-wrapper .comment-area li{
	padding:2rem 1.5rem;
	border-bottom: 1px solid var(--color-mid-grey);
}

.post-detail-wrapper .comment-area li:last-child{
	border-bottom: none;
}

.post-detail-wrapper .comment-area .author-area{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 2rem;
	color: var(--color-dark-grey);
}

.post-detail-wrapper .comment-area .author-area b{
	padding-right: 1rem;
	font-size: var(--font-size-big);
	font-weight: 600;
	color: var(--color-dark);
}

.post-detail-wrapper .comment-area .author-control{
	display: flex;
	gap:1rem;
}

.post-detail-wrapper .comment-area .author-control button:hover{
	text-decoration: underline;
}

.post-detail-wrapper .comment-area form{
	display: flex;
	flex-direction: column;
	gap:1rem;
	align-items: flex-end;
}

.post-detail-wrapper .comment-area form textarea{
	flex-grow: 1;
	width: 100%;
	padding:2rem;
	resize: none;
	border-color: var(--color-dark-grey);
	border-radius: .5rem;
}

.post-detail-wrapper .comment-area .comment-update-form{
	display: none;
}

.post-detail-wrapper .comment-area .comment-create-form{
	padding-top: 3rem;
}

.post-detail-wrapper .post-area aside{
	position: sticky;
	left:0;
	top:0;
	transform: translate(-100%, 5rem);
	border: 1px solid var(--color-mid-grey);
	display: inline-block;
	padding:2rem;
	border-radius: 10rem;
	margin-left: -5rem;
}


/* post-detail-wrapper */
.post-detail-wrapper .search-area{
	padding:5rem 0;
	background-color: var(--color-point);
}

.post-detail-wrapper .search-area p{
	display: flex;
	gap:1rem;
}

.post-detail-wrapper .search-area input[name=q]{
	width: 100%;
	padding:2rem;
	font-size: var(--font-size-bigger);
	border-radius: 1rem;
	border-color: var(--color-dark-grey);
}

.post-detail-wrapper .search-area button{
	flex-shrink: 0;
	padding:1.5rem 3rem;
	font-size: var(--font-size-bigger);
	font-weight: 800;
	background-color: var(--color-point-2);
}

.post-detail-wrapper .search-area button:hover{
	color:var(--color-point) !important;
	filter: brightness(1.1);
}

.post-detail-wrapper .search-area .tag-list{
	padding-top: 2rem;
	justify-content: center;
}

.post-detail-wrapper .search-area .tag-list li{
	padding:0;
	cursor: pointer;
	font-size: var(--font-size-big);
	border:2px solid var(--color-light-grey);
	opacity: 0.8;
	transition: all .2s ease-in-out;
}

.post-detail-wrapper .search-area .tag-list li label{
	padding:1rem 1.5rem;
}
.post-detail-wrapper .search-area .tag-list li input{
	display: none;
}

.post-detail-wrapper .search-area .tag-list li:has(input:checked){
	filter: brightness(1);
	font-weight: 600;
	border-color:var(--color-dark-grey);
	opacity: 1;
}

.post-detail-wrapper .result-area{
	padding-top: 5rem;
}

/* post-form-wrapper */
.post-form-wrapper{
	padding-top: 5rem;
}

.post-form-wrapper p{
	padding-bottom: 3rem;
}

.post-form-wrapper label{
	padding-right: 1rem;
	padding-bottom: 1rem;
	font-size: var(--font-size-big);
}

.post-form-wrapper input,
.post-form-wrapper select{
	padding: 1rem;
	width: 100%;
}

.post-form-wrapper p:has(input[name="thumbnail_image"]),
.post-form-wrapper p:has(select[name="tags"]){
	width: 50%;
	float: left;
}

.post-form-wrapper .btn-area{
	text-align: right;
	clear: both;
}


/* accounts-form-wrapper */
.accounts-form-wrapper{
	min-height: calc(100vh - 17rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:2rem;
}

.accounts-form-wrapper form{
	min-width: 50%;
}

.accounts-form-wrapper p{
	padding-bottom: 5rem;
	display: flex;
	gap:1rem;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.accounts-form-wrapper p:has(input[name="password1"]){
	padding-bottom: 0;
}

.accounts-form-wrapper label{
	font-size: var(--font-size-big);
	font-weight: 600;
}

.accounts-form-wrapper input{
	padding:1rem;
	flex-grow: 1;
}

.accounts-form-wrapper span{
	width: 100%;
	flex-grow: 1;
	padding: 1rem;
}

.accounts-form-wrapper ul{
	list-style-position: outside;
	padding-left: 2rem;
}

.accounts-form-wrapper li{
	list-style: circle;
	line-height: 1.5;
}

.accounts-form-wrapper .btn-area{
	justify-content: flex-end;
}

.accounts-form-wrapper button{
	padding:1.5rem;
	font-size: var(--font-size-big);
	flex-grow: 1;
}

/* mypage-wrapper */
.mypage-wrapper .profile-area{
	height: 40rem;
	background-color: var(--color-point);
}

.mypage-wrapper .profile-area>div{
	padding:5rem;
	height: 35rem;
	display: flex;
	align-items: center;
	background-color: var(--color-light);
	transform: translateY(15rem);
	box-shadow: 0 0 1rem rgba(0,0,0,0.2);
	gap:4rem;
}

.mypage-wrapper .profile-area .profile-image{
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	object-fit: cover;
}

.mypage-wrapper .profile-area .text-area{
	display: flex;
	flex-direction: column;
	font-size: var(--font-size-bigger);
	gap:2rem;
}

.mypage-wrapper .profile-area .text-area b{
	font-weight: 800;
	padding-right: 2rem;
}

.mypage-wrapper .profile-area+section{
	padding-top: 25rem;
}

/* userhome-wrapper */
.userhome-wrapper{
	display: flex;
	flex-direction: column;
}

.userhome-wrapper .section-title{
	padding: 3rem 0;
}
.userhome-wrapper section{
	padding:5rem 2rem;
	background-color: var(--color-white);
	box-shadow: 0 0 1rem rgba(0,0,0,0.1);
	border-radius: .5rem;
}

.userhome-wrapper .flex-area{
	padding-top: 3rem;
	display: flex;
	gap:2rem;
	align-items: stretch;
	height: 100%;
	flex-grow: 1;
}

.userhome-wrapper .profile-area{
	flex-grow: 0;
	flex-shrink: 0;
	align-self: flex-start;
	width: 30%;
	min-width: 30rem;
	text-align: center;
}

.userhome-wrapper .profile-area .profile-image{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	object-fit: cover;
}

.userhome-wrapper .profile-area .text-area{
	padding-top: 3rem;
	font-size: var(--font-size-big);
	font-weight: 600;
}

.userhome-wrapper .post-area{
	flex-grow: 1;
}

.userhome-wrapper .post-area .empty{
	border:none;
}