:root{
	--color-point:#33b495;
	--color-black:#000000;
	--color-dark:#111111;
	--color-white:#ffffff;
	--color-light:#fafafa;
	--color-grey:#cccccc;
	--font-size-huge : 5rem;
	--font-size-bigger : 2.4rem;
	--font-size-big : 1.8rem;
	--font-size-default : 1.6rem;
	--font-size-small : 1.4rem;
	--font-size-smaller : 1.2rem;
	--container-max-width : 720px;
}

*{
	box-sizing: border-box;
}

.center-content{
	width: 90%;
	max-width: var(--container-max-width);
	margin:0 auto;
}

.ir-hidden{
	position: absolute;
	left: -9999px;
	clip-path: circle(0,0);
	width: 1px;
	height: 1px;
	overflow: hidden;
}

html{
    height:100%;
	font-size: 10px;
}

body{
	height:100%;
	font-size: var(--font-size-default);
	color: var(--color-dark);
	background-color: var(--color-light);
}

.liked{
	border:1px solid red;
}


/* 헤더 */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:2rem 5%;
}

header h1{
	color: var(--color-point);
	font-weight: 800;
	font-size: var(--font-size-huge);
}

header ul{
	display: flex;
	align-items: center;
	gap:1rem;
	font-size: var(--font-size-big);
}

header .hello{
	padding-right: 1rem;
	color:var(--color-point);
}

/* 메인 */
main{
	min-height: 100vh;
}
.promo-banner img{
	aspect-ratio: 10/3;
	object-fit: cover;
}

.section-wrapper{
	padding-top: 9rem;
}

.section-wrapper .title{
	font-size: var(--font-size-bigger);
	font-weight: 600;
	padding-bottom: 2rem;
}

.post-list{
	display: flex;
	flex-wrap: wrap;
	gap:1rem;
}

.post-list>li{
	border:1px solid var(--color-grey);
	border-radius: .5rem;
	transition: all .2s ease-in-out;
}

.post-list>li:hover{
	box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}

.post-list>li.box3{
	width: calc((100% - 2rem) / 3);
}

.post-list>li.box4{
	width: calc((100% - 3rem) / 4);
}

.post-list>li a{
	display: block;
	padding:2rem;
}

.tag-list{
	display: flex;
	gap:1rem;
	border-radius: 1rem;
}

.tag-list li{
	padding:.5rem;
	background-color: var(--color-grey);
	border-radius: .5rem;
}

footer{
	margin-top: 8rem;
	padding:3rem;
	background-color: #cccccc;
}